

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

body {
  position: absolute;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  font-family: 'Baloo Chettan';
}

.App {
  width: 100vw;
  background: #fff0;
}

img {
  width: 80%;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Baloo Chettan';
}

.repoWrapper {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.indexItem {
  width: 20vw;
  padding: 1vh;
  height: 35vh;
  margin: auto;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 10%;
  margin-bottom: 5vh;
}

.indexItem * {
  width: 86%;
  margin: auto;
  font-size: 85%;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: green;
  padding: 0;
  margin-bottom: 6%;
  -ms-flex-pack: center;
  justify-content: center;
}
