

@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan');

body {
  position: absolute;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  min-height: 100%;
  font-family: 'Baloo Chettan';
}

.App {
  width: 100vw;
  background: #fff0;
}

img {
  width: 80%;
}

#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: Helvetica;
}

.sideSection {
  width: 101%;
  position: relative;
  background-color: #00c4fffa;
  margin-bottom: 56px;
  height: 72vh;
  margin-left: 0px;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  border: none;
  border-radius: 0%;
  width: 50vw;
  height: 5vh;
  font-family: Helvetica;
  font-size: 4vh;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.repoWrapper {
  width: 80vw;
  margin-right: 1vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

div.indexItem {
  flex-basis: 18%;
  padding: 1vh;
  min-height: 20vw;
  max-height: 20vw;
  margin-left: 2vh;
  display: -ms-flexbox;
  display: flex;
  flex-grow: 1;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #ccc;
  margin-bottom: 5vh;
  -ms-flex-direction: column;
  flex-direction: column;
}

.indexItem * {
  width: 60%;
  max-height: 20vh;
  margin: auto;
  font-size: 85%;
  max-width: 20vw;
  display: flex;
  text-decoration: none;
  color: green;
  padding: 0;
  margin-bottom: 6%;
  -ms-flex-pack: center;
  justify-content: center;
}

.itemHeader {
  font-size: 85%;
  font-family: Helvetica;
  margin-top: 10%;
  width: 80%;
  font-weight: bold;
}
